body 
{
    margin: 0;
    font-family: sans-serif;
    background-color: #222222;
    width:144;
    height:224;
    padding:12px;
    overflow: hidden;
}
.wrapper
{
    background-color: #424242;
    padding: 8px;
    padding-bottom: 16px;
    width: 70%;
    margin: auto;
    color: #CCCCCC;
    /*
    border:solid;
    border-color:#f50;
    box-shadow: 3px 3px 5px #f50;
    */
}
.form-sub
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.f_input
{
    width:100%;
    margin:auto;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.button
{
    margin-top:4px;
    margin-bottom:2px;
    font-weight:700;
    color:white;
    background-color:#f50;
    text-shadow: 1px 1px #000000
}
.f_it
{
    margin-top:12px;
    margin-bottom:12px;
    color:#f50;
}
